GROQ_API_KEY=YOUR_GROK_API_KEY

MONGO_URI=your_mongodb_connection_string
MONGO_DB_NAME=ai_interview

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

LANGFUSE_PUBLIC_KEY=YOUR_LANGFUSE_PUBLIC_KEY
LANGFUSE_SECRET_KEY=YOUR_LANGFUSE_SECRET_KEY
LANGFUSE_HOST=YOUR_LANGFUSE_HOST

SECRET_KEY=YOUR_SECRET_KEY
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000